<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado de residencia - ViveNet</title>
    <!-- CSS FILES -->        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="resources/css/bootstrap-icons.css" rel="stylesheet">
    <link href="resources/css/styles-reserva.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body id="top">
<main>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="resources/images/topics/Logo.png" alt="Logo ViveNet" style="width: 50px; height: 50px;">
                <span>ViveNet</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#">Opciones Principales</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soporte</a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">¿Cómo usar la web?</a></li>
                            <li><a class="dropdown-item" href="#">Contáctenos</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-none d-lg-block">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>
            </div>
        </div>
    </nav>

    <header class="site-header d-flex flex-column justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-12 mb-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Certificado de Residencia</li>
                        </ol>
                    </nav>
                    <h2 class="text-white">Certificado de Residencia</h2>
                    <div class="d-flex align-items-center mt-5">
                        <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Rellenar</a>
                        <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="topics-detail-block bg-white shadow-lg">
                        <img src="resources/images/topics/certificado.png" class="topics-detail-block-image img-fluid" alt="Salón Social">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="topics-detail-section section-padding" id="topics-detail">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Formulario de Reserva -->
<div class="col-lg-8">
    <div class="row">
        <!-- Imagen a la izquierda del formulario -->
        <div class="col-md-6 mb-4 text-center">
            <img src="resources/images/formulario.png" alt="Formulario" style="max-width: 100%; height: auto;">
        </div>
        <!-- Formulario a la derecha de la imagen -->
        <div class="col-md-6">
            <h3 class="mb-4 text-center" style="font-family: 'Verdana', sans-serif; color: #000;">Descargue su Certificado</h3>
            <form id="certificado-form" action="/certifcadoresidenciapost" method="post">
                <div class="mb-3 row">
                    <label for="nombre" class="col-sm-4 col-form-label" style="color: #333;">Nombres:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="torre" class="col-sm-4 col-form-label" style="color: #333;">Torre:</label>
                    <div class="col-sm-8">
                        <select class="form-select" id="torre" name="torre" required>
                            <!-- Options -->
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="apartamento" class="col-sm-4 col-form-label" style="color: #333;">Número de Apartamento:</label>
                    <div class="col-sm-8">
                        <select class="form-select" id="apartamento" name="apartamento" required>
                            <!-- Options -->
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="fecha-residencia" class="col-sm-4 col-form-label" style="color: #333;">Desde qué fecha reside en el conjunto:</label>
                    <div class="col-sm-8">
                        <input type="month" class="form-control" id="fecha-residencia" name="fecha" min="1800-01" max="2024-12" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-block">Solicitar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin Formulario -->

            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-12">
                    <div style="padding: 20px;">
                        <img src="resources/images/new.jpg" class="newsletter-image img-fluid" alt="Novedades" style="width: 100%; height: auto;">
                    </div>
                </div>
                <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                    <form class="custom-form subscribe-form" action="#" method="post" role="form">
                        <h4 class="mb-4 pb-2">Enterate de las Últimas Novedades</h4>
                        <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Correo Electrónico" required="">
                        <div class="col-lg-12 col-12">
                            <button type="submit" class="form-control">Suscribirse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Topic</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>
                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>
                <p class="text-white d-flex mb-1">
                    <a href="tel:305-240-9671" class="site-footer-link">305-240-9671</a>
                </p>
                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">info@company.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">English</button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Thai</button></li>
                        <li><button class="dropdown-item" type="button">Myanmar</button></li>
                        <li><button class="dropdown-item" type="button">Arabic</button></li>
                    </ul>
                </div>
                <p class="copyright-text mt-lg-5 mt-4">
                    Copyright © 2048 Topic Listing Center. All rights reserved.
                    <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution <a href="https://themewagon.com">ThemeWagon</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="resources/js/jquery.min.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script src="resources/js/jquery.sticky.js"></script>
<script src="resources/js/reservas.js"></script>
<script src="resources/js/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function descargarCertificado() {
        var fechaResidencia = document.getElementById("fecha-residencia").value;

        Swal.fire({
            icon: 'success',
            title: '¡Certificado descargado!',
            text: 'Su certificado ha sido descargado correctamente.',
            confirmButtonColor: '#007bff'
        });
    }
</script>

</body>
</html>


