<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="ViveNet es ETC">
        <meta name="author" content="Estudiantes U Piloto">

        <title>ViveNet - Inicio</title>

        <!-- Archivos CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="resources/css/bootstrap.min.css" rel="stylesheet">
        <link href="resources/css/bootstrap-icons.css" rel="stylesheet">
        <link href="resources/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    
    <body id="top">
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
    				<img src="resources/images/topics/Logo.png" alt="Nombre alternativo de la imagen" style="width: 50px; height: 50px;" >
						<span>ViveNet</span>
					</a>


                    <div class="d-lg-none ms-auto me-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                            </li>
							
							<li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Noticias</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Opciones Principales</a>
                            </li>
							
							 
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soporte</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="topics-listing.html">¿Como usar la web?</a></li>


                                    <li><a class="dropdown-item" href="contact.html">Contactenos</a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <div class="contenedor">
                                <h1>Página de Inicio</h1>
                                <% if (login) { %>                
                                    <h1>Usuario conectado: <strong><%= name %></strong></h1>                        
                                    <a href="logout" class="a-logout">Logout</a>
                                <%} else { %>
                                    <h1><strong><%= name %></strong></h1>  
                                    <a href="login" data-bs-toggle="modal" data-bs-target="#loginModal" class="navbar-icon bi-person smoothscroll"></a> 
                                    <a href="" class="a-login">Ir a Login</a>
                                <% } %>
                              </div> 
                            <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            
            
	<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                          <div class="container">
                                <div class="row">

                                    <div class="col-12 text-center">
                                        <h2 class="mb-4">Bienvenido, ¿Tienes dudas sobre el uso de la plataforma?</h1>
                                    </div>


                                    <div class="clearfix"></div>

                                    <div class="col-lg-5 col-12 col-md-6">
                                        <img src="resources/images/faq_graphic.jpg" class="img-fluid rounded-img" alt="FAQs">
                                    </div>

                                    <div class="col-lg-6 col-12 m-auto">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        ¿Como usar la plataforma?
                                                    </button>
                                                </h2>

                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                       
                                                        Deslice hacia la parte inferior o <strong>de clic en opciones principales en la parte superior de la pantalla</strong> Alli encontrará todo lo que necesita y videotutoriales para cada una de las opciones.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        ¿Que es ViveNet?
                                                    </button>
                                                </h2>

                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        Es una plataforma que facilita la gestión de solicitudes administrativas por parte de los residentes del conjunto como <strong>Reservas, pago de administracion, informacion general</strong> entre muchos otros para que usted y su familia vivan feliz en su hogar.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Mas Informacion?
                                                    </button>
                                                </h2>

                                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                          </div>
                    </div>
                </div>
            </section>
            

            <section class="explore-section section-padding" id="section_2">
                <div class="container">
						<div class="col-12 text-center">
                            <h2 class="mb-4">Bienvenido</h1>
                        </div>	
                        <div class="col-12 text-center">
                            <h2 class="mb-4">Opciones Principales</h1>
                        </div>

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Reservas</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Financieros y Certificados</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Pagos PSE</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Formatos y Trasteos</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Otros</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="Reservas/Reserva_salon_social.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Reserva Salón Social</h5>

                                                            <p class="mb-0">Reserva aqui tu salon social por $40.000,
                                                            sujeto a disponibilidad de calendario</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">1</span>
                                                    </div>

                                                    <img src="images/topics/Party.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="Reservas/Reserva_Gym.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Reserva Gimnacio</h5>

                                                                <p class="mb-0">Revisa aqui tus horas de Gym,
                                                                    sujeto a disponibilidad de calendario</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">2</span>
                                                    </div>

                                                    <img src="images/topics/gmy.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="Reservas/Reserva_piscina.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Reserva Piscina</h5>

                                                                <p class="mb-0">Horarios de Piscina de L-V 8AM - 9PM
                                                                    S-D-F 10AM - 4PM
                                                                    sujeto a disponibilidad de calendario</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">3</span>
                                                    </div>

                                                    <img src="images/topics/Swimming.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="Reservas/Reserva_bbq.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Reserva Zona BBQ</h5>

                                                                <p class="mb-0">Reserva aqui tu salon social por $30.000,
                                                                    sujeto a disponibilidad de calendario</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">4</span>
                                                    </div>

                                                    <img src="images/topics/Bbq.jpg" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="Pages/Estado de Cuenta.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Estado de Cuenta</h5>

                                                                <p class="mb-0">Consulte de manera inmediata el estado de cuenta de su imueble</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">4</span>
                                                        </div>

                                                        <img src="images/topics/Bill.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="ReservaSalon.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Certificado de Residencia</h5>

                                                                <p class="mb-0">Solicite su certificado de manera agil y rapida en formato pdf</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">5</span>
                                                        </div>

                                                        <img src="images/topics/Cerficiado.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="ReservaSalon.html">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Expedición Paz y Salvo</h5>

                                                                <p class="mb-0">Solicite su Paz y Salvo de manera agil y rapida en formato pdf</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">6</span>
                                                        </div>

                                                        <img src="images/topics/Pazysalvo.png" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                  </div>

                                <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="https://clientes.nequi.com.co/recargas">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Pagos Administración PSE</h5>

                                                            <p class="mb-0">De clic en el boton PSE para continuar</p>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">7</span>
                                                    </div>

                                                    <img src="images/topics/PSE2.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block custom-block-overlay">
                                                <div class="d-flex flex-column h-100">
                                                    <img src="images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg" class="custom-block-image img-fluid" alt="">

                                                    <div class="custom-block-overlay-text d-flex justify-content-center">
                                                        <div>
                                                            <h5 class="text-white mb-2">¿Como Realizo mi pago?</h5>

                                                            <p class="text-white">A continuación encontrará un video tutorial donde se le exlica el proceso paso a paso</p>
                                                            <iframe width="490" height="180" src="https://www.youtube.com/embed/7vlKoMi4Qr0" frameborder="0" allowfullscreen></iframe>

                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">8</span>
                                                    </div>



                                                    <div class="section-overlay"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="ReservaSalon.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Formato Entrada y Salida Trasteos</h5>

                                                            <p class="mb-0">Diligencie el formato con los parámetros que encontrará dando clic aqui</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">9</span>
                                                    </div>

                                                    <img src="images/topics/Trasteos.jpg" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="ReservaSalon.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Formato Entrada y Salida Elementos</h5>

                                                            <p class="mb-0">Diligencie el formato con los parámetros que encontrará dando clic aqui</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">10</span>
                                                    </div>

                                                    <img src="images/topics/salidaelementos.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="ReservaSalon.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Formato Poder Asamblea</h5>

                                                            <p class="mb-0">Diligencie el formato con los parámetros que encontrará dando clic aqui</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">11</span>
                                                    </div>

                                                    <img src="images/topics/poderasamblea.png" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="ReservaSalon.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2"> </h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">12</span>
                                                    </div>

                                                    <img src="images/topics/" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="ReservaSalon.html">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2"> </h5>

                                                            <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">13</span>
                                                    </div>

                                                    <img src="images/topics/" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>
			
			

        </main>
        
        


<footer class="site-footer section-padding">
            <div class="container">
                <div class="row">
					

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <img src="images/topics/Logo.png" alt="Nombre alternativo de la imagen" style="width: 50px; height: 50px;" >
                            <span>ViveNet</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Español</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">English</button></li>

                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://www.unipiloto.edu.co/" target="_blank">Estudiantes UniPiloto</a> Distribution <a href="https://themewagon.com">ThemeWagon</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="resources/js/jquery.min.js"></script>
        <script src="resources/js/bootstrap.bundle.min.js"></script>
        <script src="resources/js/jquery.sticky.js"></script>
        <script src="resources/js/click-scroll.js"></script>
        <script src="resources/js/custom.js"></script>

    </body>
</html>