<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Salon Social - ViveNet</title>
    <!-- CSS FILES -->        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="resources/css/bootstrap-icons.css" rel="stylesheet">
    <link href="resources/css/styles-reserva.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>
<body id="top">
<main>
     <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
    				<img src="resources/images/topics/Logo.png" alt="Nombre alternativo de la imagen" style="width: 50px; height: 50px;" >
						<span>ViveNet</span>
					</a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                            </li>
							
							<li class="nav-item">
                                <a class="nav-link click-scroll" href="#">Noticias</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#">Opciones Principales</a>
                            </li>
							
							 
							<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soporte</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">¿Como usar la web?</a></li>


                                    <li><a class="dropdown-item" href="#">Contactenos</a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                                                   
                            <% if (login) { %>                
                                <h7>Usuario conectado: <strong><%= name %></strong></h7>                        
                                <a href="logout" class="a-logout">Logout</a>
                            <%} else { %>
                            <a href="login" class="navbar-icon bi-person smoothscroll"></a>
                            <h7><strong><%= name %></strong></h7>  
                            <% } %>
                          
                    
                        </div>
                    </div>
                </div>
            </nav>

            
    <header class="site-header d-flex flex-column justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-5 col-12 mb-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Reserva de Bbq</li>
                        </ol>
                    </nav>

                    <h2 class="text-white">Reserva de  <br> Salon Social ---></h2>

                    <div class="d-flex align-items-center mt-5">
                        <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Ir al Video</a>

                        <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                    </div>
                </div>

                <div class="col-lg-5 col-12">
                    <div class="topics-detail-block bg-white shadow-lg">
                        <img src="resources/images/topics/salon.jpg" class="topics-detail-block-image img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </header>
<section class="topics-detail-section section-padding section-bg" id="topics-detail">
    <div class="container">
        
        <div class="row mt-5">
			<!-- CALENDARIO INTERACTIVO -->
			<div class="col-lg-6">
                <section class="topics-detail-section section-padding" id="topics-detail">
                    <h3 class="mb-4 text-center" style="font-family: 'Verdana', sans-serif; color: #000;">Verifica la agenda </h3>
                    <div class="row">
				<div class="col-md-12">
					<div class="content w-100">
				    <div class="calendar-container">
				      <div class="calendar"> 
				        <div class="year-header"> 
				          <span class="left-button fa fa-chevron-left" id="prev"> </span> 
				          <span class="year" id="label"></span> 
				          <span class="right-button fa fa-chevron-right" id="next"> </span>
				        </div> 
				        <table class="months-table w-100"> 
				          <tbody>
				            <tr class="months-row">
				              <td class="month">Ene</td> 
				              <td class="month">Feb</td> 
				              <td class="month">Mar</td> 
				              <td class="month">Abr</td> 
				              <td class="month">May</td> 
				              <td class="month">Jun</td> 
				              <td class="month">Jul</td>
				              <td class="month">Ago</td> 
				              <td class="month">Sep</td> 
				              <td class="month">Oct</td>          
				              <td class="month">Nov</td>
				              <td class="month">Dic</td>
				            </tr>
				          </tbody>
				        </table> 
				        
				        <table class="days-table w-100"> 
				          <td class="day">Domingo</td> 
				          <td class="day">Lunes</td> 
				          <td class="day">Martes</td> 
				          <td class="day">Miercoles</td> 
				          <td class="day">Jueves</td> 
				          <td class="day">Viernes</td> 
				          <td class="day">Sabado</td>
				        </table> 
				        <div class="frame"> 
				          <table class="dates-table w-100"> 
			              <tbody class="tbody">             
			              </tbody> 
				          </table>
				        </div> 
				        <button class="button" id="add-button">Add Event</button>
				      </div>
				    </div>
				    <div class="events-container">
				    </div>
				    <div class="dialog" id="dialog">
				        <h2 class="dialog-header"> Add New Event </h2>
				        <form class="form" id="form">
				          <div class="form-container" align="center">
				            <label class="form-label" id="valueFromMyButton" for="name">Event name</label>
				            <input class="input" type="text" id="name" maxlength="36">
				            <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
				            <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
				            <input type="button" value="Cancel" class="button" id="cancel-button">
				            <input type="button" value="OK" class="button button-white" id="ok-button">
				          </div>
				        </form>
				      </div>
				  </div>
				</div>
			</div>
                </section>
            </div>
			
			<!-- Formulario de Reserva -->
<div class="col-lg-6">
    <section class="topics-detail-section section-padding" id="topics-detail">
        <h3 class="mb-4 text-center" style="font-family: 'Verdana', sans-serif; color: #000;">Reserva tu Espacio</h3>
        <form id="reservation-form" action="/guardarreservasalon" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label" style="color: #333;">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="torre" class="form-label" style="color: #333;">Torre:</label>
                        <select class="form-select" id="torre" name="torre" required>
                            <option value="" disabled selected>Selecciona Torre</option>
                            <!-- Aquí puedes agregar opciones si es necesario -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="apartamento" class="form-label" style="color: #333;">Número de Apartamento:</label>
                        <select class="form-select" id="apartamento" name="apartamento" required>
                            <option value="" disabled selected>Selecciona Apartamento</option>
                            <!-- Aquí puedes agregar opciones si es necesario -->
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label" style="color: #333;">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label" style="color: #333;">Fecha y hora de Reserva:</label>
                <input type="datetime-local" class="form-control" id="fecha" name="fecha" required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label" style="color: #333;">Mensaje:</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Enviar Reserva</button>
        </form>
    </section>
</div>

			<!-- Fin Formulario -->
			
        </div>
    </div>
</section>
   <section class="section-	padding ">
                <div class="container">
                    <div class="row justify-content-center">

                    <div class="col-lg-5 col-12">
						<div style="padding: 20px;">
							<img src="resources/images/new.jpg" class="newsletter-image img-fluid" alt="" style="width: 100%; height: auto;">
						</div>
					</div>


                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Enterate de las Últimas Novedades</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Correo Electronico" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control">Suscribirse</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
		
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>Topic</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <p class="text-white d-flex mb-1">
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution <a href="https://themewagon.com">ThemeWagon</a></p>
                        
                    </div>

                </div>
            </div>
        </footer>

<!-- JAVASCRIPT FILES -->
        <script src="resources/js/jquery.min.js"></script>
        <script src="resources/js/bootstrap.bundle.min.js"></script>
        <script src="resources/js/jquery.sticky.js"></script>
        <script src="resources/js/reservas.js"></script>
	    <script src="resources/js/popper.js"></script>
        <script src="resources/js/calendar.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	
</body>
</html>